* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,body {
   /* min-height: 100vh !important; */
    height: 100%;
    height: fill-available;
    height: -webkit-fill-available;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hover-wrapper {

}

.img-wrapper{
    height: 30vh;
    margin-bottom: 30px;
    position: relative;
}


.img-wrapper img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.logo-wrapper {
    height: 30vh;
    margin-bottom: 30px;
    transition: 0.2s all linear;
}

.logo-wrapper img {
    height: 100%;
    object-fit: cover;
}

img#vionnetLogo {
    width: 100%;
    height: auto;
    top: 10vh;
    transition: 0.2s all linear;
}

img#vionnetImages {
    left: 7%;
    transition: 0.2s all linear;
}



.contacts-wrapper {
    transition: 0.2s all linear;
}

.contacts-wrapper a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

/* .contacts-wrapper a:hover {
    font-weight: bold;
} */

.hidden {
    opacity: 0;
    pointer-events: none;
}





@media screen and (max-width: 480px) {
    main{
        height: 100svh;
    }
    .img-wrapper {
        /*
        margin-bottom: 4.2em;
        */
    }
  }
